In [6]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

#Example for 2017
acoustic = pd.read_csv('acousticData/2017_2019/mbaIntegrationResults.csv')
acousticInt = acoustic.groupby(['SHIP','SURVEY','INTERVAL']).sum().reset_index()[['SHIP','SURVEY','INTERVAL','LAYER','PRC_NASC']]
acousticInt = acousticInt[acousticInt.SURVEY ==201701]

cols = list(pd.read_csv('catchData/2017_2019/AxiomData/.csv', nrows =1))
catch = pd.read_csv('catchData/2017_2019/AxiomData/Arctic_IES_Acoustic_trawl_complete_2017.csv',usecols=[i for i in cols if i != 'Unnamed: 0'])

In [23]:
catch['m2'] = catch['Numbers nmi^-2']/1852/1852
catch[catch.Interval==acoustic.iloc[100].INTERVAL].sum().m2

0.01218025862915103

In [22]:
acoustic[acoustic.INTERVAL==acoustic.iloc[100].INTERVAL].sum().PRC_NASC

5.1287139999999996

In [38]:
#df = pd.DataFrame(columns=('INTERVAL', 'Species','Depth Layer','Length Bin'))
lb = np.arange(catch['Length Bin'].min(), catch['Length Bin'].max()+1,1)
spec = sorted(catch['Species'].unique())
ct=0
i1,s1,d1,l1 = [],[],[],[]
for i in tqdm(acousticInt.INTERVAL, total=len(acousticInt.INTERVAL)):
    for s in spec:
        for dep in sorted(acousticInt[acousticInt.INTERVAL==i].LAYER.values):
            for l in lb:
                i1.append(i)
                s1.append(s)
                d1.append(dep)
                l1.append(l)
                #df.loc[ct] = [i,s,dep,l]
                #ct+=1

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=39355.0), HTML(value='')))

In [176]:
t = df.merge(catch[catch.Interval.isin(df.INTERVAL)],how='outer',left_on=['INTERVAL', 'Species','Depth Layer','Length Bin'],right_on=['Interval', 'Species','Depth Layer','Length Bin'])
t['Mean Bottom Depth'] = (t.groupby('INTERVAL')['Mean Bottom Depth']
                                 .apply(lambda x: x.bfill().ffill()))
t['Interval'] = (t.groupby('INTERVAL')['Interval']
                                 .apply(lambda x: x.bfill().ffill()))
t['Latitude'] = (t.groupby('INTERVAL')['Latitude']
                                 .apply(lambda x: x.bfill().ffill()))
t['Longitude'] = (t.groupby('INTERVAL')['Longitude']
                                 .apply(lambda x: x.bfill().ffill()))
t = t.fillna(0)
t

,INTERVAL,Species,Depth Layer,Length Bin,Interval,Latitude,Longitude,Mean Bottom Depth,Numbers,Numbers nmi^-2
0,20170809135350,Boreogadus saida,2,2,2.017081e+13,70.499440,-162.561063,34.87,0.0,0.0
1,20170809135350,Boreogadus saida,2,3,2.017081e+13,70.499440,-162.561063,34.87,0.0,0.0
2,20170809135350,Boreogadus saida,2,4,2.017081e+13,70.499440,-162.561063,34.87,0.0,0.0
3,20170809135350,Boreogadus saida,2,5,2.017081e+13,70.499440,-162.561063,34.87,0.0,0.0
4,20170809135350,Boreogadus saida,2,6,2.017081e+13,70.499440,-162.561063,34.87,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2545,20170809141442,Mallotus catervarius,7,14,2.017081e+13,70.499995,-162.459707,33.20,0.0,0.0
2546,20170809141442,Mallotus catervarius,7,15,2.017081e+13,70.499995,-162.459707,33.20,0.0,0.0
2547,20170809141442,Mallotus catervarius,7,16,2.017081e+13,70.499995,-162.459707,33.20,0.0,0.0
2548,20170809141442,Mallotus catervarius,7,17,2.017081e+13,70.499995,-162.459707,33.20,0.0,0.0
2549,20170809141442,Mallotus catervarius,7,18,2.017081e+13,70.499995,-162.459707,33.20,0.0,0.0